.cart {
  padding: 0.8rem;
  padding-top: 8.8rem;
  display: flex;
  flex-direction: column;
}

.cart-panel {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow-y: scroll;
  padding-bottom: 3.2rem;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart.empty {
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #999;
}
