.cart-item {
  height: 9.6rem;
  background: #ebebeb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  gap: 1.6rem;
  /* box-shadow: 1px 1px 1px #999; */
}

.cart-item-icon {
  border-radius: 8px;
  display: flex;
}

.cart-item-delete {
  align-self: start;
  font-size: 1.8rem;
}

.cart-item .colored-image {
  border-radius: 0.8rem;
  overflow: hidden;
}

.cart-item-heading {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.4rem;
}

.cart-item-detail {
  font-size: 1.4rem;
  color: #999;
}
